{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/network.css') }}">
{% endblock %}

{% block body %}
    <canvas id="networkCanvas"></canvas>
    
    <div class="main-content">
        <h1>Mon Portfolio</h1>
        <p>Page en construction</p>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Modules background -->
    <script src="{{ asset('js/background/canvas-manager.js') }}"></script>
    <script src="{{ asset('js/background/point-generator.js') }}"></script>
    <script src="{{ asset('js/background/network.js') }}"></script>
    
    <!-- Point d'entrée principal -->
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}